loguru
tqdm

lxml
pyyaml
beautifulsoup4
requests[socks]
urllib3
httpx[socks]
httpx-sse
PyJWT

pandas~=2.2.0

langchain==0.2.14
langchain-core==0.2.33
langchain_community==0.2.12

markdown
sentence_transformers
pydantic
lark
# torch==2.2.1+cu121

langchain-milvus==0.1.4
pymilvus==2.4.5

langchain-openai==0.1.22
# BGE emebedding依赖
FlagEmbedding==1.2.11
# 文心一言依赖
qianfan==0.3.8.2

streamlit==1.37.1
streamlit_js_eval