loguru
tqdm

grobid-client-python==0.0.8
lxml
pyyaml
beautifulsoup4
requests[socks]
pandas~=2.2.0

langchain==0.2.1
langchain-core==0.2.3
langchain_community==0.2.1
markdown
pymilvus==2.4.1
sentence_transformers
pydantic
lark
# torch==2.2.1+cu121

httpx
langchain-openai==0.1.8
langchain-anthropic==0.1.13
# BGE emebedding依赖
FlagEmbedding==1.2.8
# 文心一言依赖
qianfan==0.3.8.2
# 智谱GLM系列依赖
httpx[socks]==0.24.1
httpx-sse
PyJWT

streamlit~=1.31.0