loguru
tqdm

grobid-client-python==0.0.8
lxml
pyyaml
beautifulsoup4
requests[socks]
pandas~=2.2.0

langchain==0.1.12
langchain-core==0.1.32
langchain_community==0.0.28
markdown
pymilvus==2.3.6
sentence_transformers
pydantic
lark
# torch==2.2.1+cu121

httpx
langchain-openai
openai
langchain-anthropic

streamlit~=1.31.0